
@{
    ViewBag.Title = "StartAdmin";
}

<h2>Toolth</h2>

@Html.ActionLink("Add Album", "AddAlbum", "Admin")
<br>
<br>

@Html.ActionLink("Add Genre", "AddGenre", "Admin")
<br>
<br>

@Html.ActionLink("Add SongWriter", "AddSongWriter", "Admin")
<br>
<br>

@Html.ActionLink("Add Track", "AddTrack", "Admin")
<br>
<br>

@Html.ActionLink("Edite Track", "Edit", "Admin")